/**
 * Cositas de contacto
 */

.contacto {
  lost-center: $max-width;
  color: ghostwhite;
  &__grupo {
    @include media('>=tablet') {
      lost-column: 1/2;
    }
    margin-bottom: 30px;
  }
  &__titulo {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 200;
    margin-bottom: .5rem;
    border-bottom: 1px solid ghostwhite;
  }
  &__cuerpo {
    text-align: justify;
  }
  &__mapa {
    background-image: url('../images/mapa.png');
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 200px;
  }
}
