/**
 * Menu Simple
 */

.menu {
  position: fixed;
  top: 0;
  height: 40px;
  width: 100%;
  z-index: 10;
  background-color: #fafafa;
  &:before,
  &:after {
    content: ' ';
    position: absolute;
    background-color: #fafafa;
    width: 50%;
    height: 60px;
    bottom: -30px;
    z-index: -1;
    border-bottom: 2px solid #f26762;
  }
  &:before {
    transform: skewY(3deg);
    left: 0;
  }
  &:after {
    transform: skewY(-3deg);
    right: 0;
  }
  &__contenido {
    lost-center: $max_width;
    height: 100%;
    position: relative;
  }
  &__item {
    lost-column: 1/5;
    height: 100%;
    text-align: center;
    margin-top: 10px;
    @include media('>=tablet'){
      margin-top: 20px;
      &:nth-child(2),
      &:nth-child(4) {
        margin-top: 30px;
      }
    }
  }
  &__logo {
    margin: 10px auto;
    height: 65px;
    background-image: url('../images/rosa.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  &__link {
    font-size: .8rem;
    position: relative;
    @include media('>=tablet') {
      font-size: 1.2rem;
    }
    &:after {
      content: ' ';
      width: 0%;
      height: 2px;
      background-color: #f26762;
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translate3d(-50%,0,0);
      transition: all .5s ease-in-out;
    }
    &:link    { color: #f26762 }
    &:visited { color: #f26762 }
    &:active  { color: #f26762 }
    &:hover   {
      &:after {
        width: 110%;
      }
    }
    &--top {
      font-size: 0;
      display: block;
      width: 100%;
      height: 100%;
      &:after {
        content: none;
      }
    }
  }
}
