/**
 * Secciones
 */

.seccion {
  lost-center: $max-width;
  margin: 150px auto;
  text-align: justify;
  &:last-of-type {
    margin-bottom: 50px;
  }
  &__titulo {
    text-align: center;
    color: deeppink;
    font-size: 3rem;
    line-height: 3.25rem;
    font-weight: 200;
    margin-bottom: 3rem;
  }
  &__cuerpo {
    lost-utility: clearfix;
    @include media('<desktop') {
      padding: 0 15px;
    }
  }
  &__columna {
    @include media('>=tablet') {
      lost-column: 1/2;
    }
  }
  &__pregunta {
    font-weight: 800;
    font-size: 1.25rem;
    line-height: 2rem;
  }
  &__respuesta {
    margin-bottom: 1.5rem;
  }
}
